Package: mdebian-iut-local
Version: 9.0
Section: admin
Priority: optional
Architecture: all
Depends: mdebian-base
Maintainer: Michaël Roy <microygh@gmail.com>
Description: Custom APT and NTP configuration for IUT
